* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}


header {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 18px 0 0 0;
  height: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container {
  width: 1032px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1022px;
  margin-bottom: 90px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8
}

.header ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header ul a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;

  position: relative;
  letter-spacing: 0.5px;
  transition: opacity 0.15s;
}

.header ul a:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}

.header ul a:hover {
  color: rgb(255, 255, 255);
}

.header ul a:hover:after {
  width: 100%;
}

.header ul a:active {
  opacity: 0.7;
}

.header-content {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
}


.left-section h1 {
  font-size: 50px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 8px;
}

.left-section {
  width: 46%;
}

.left-section p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 12px;
  line-height: 1.3em;
}

.left-section button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 35px;
  cursor: pointer;

  transition: background-color 0.15s, opacity 0.15s;
}

.left-section button:hover {
   background-color: #1b6ef3;
}

.left-section button:active {
  opacity: 0.7;
}

.right-section {
  flex: 1;
}

.header-content img {
  width: 510px;
  height: 254px;
}