* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

header {
  background-color: #1F2937;
  color: white;
  padding: 18px 135px 100px 208px;
  height: 535px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8
}

.header ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}